@page
@model CloudComputingAllAboutCat.Pages.Facts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facts[0].FactText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Facts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FactText)
                </td>

                @if (User.Identity.IsAuthenticated)
                {

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.FactID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.FactID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.FactID">Delete</a>
                    </td>
                }


            </tr>
        }
    </tbody>
</table>
